<?xml version="1.0"?>
<robot name="stack_box_1">
  <link name="box_root"><inertial><origin xyz="0 0 0"/><mass value="10"/><inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/></inertial></link>
  <link name="wall_x0"><visual><geometry><box size="0.01 0.30 0.30"/></geometry><material name="gray_x0"><color rgba="0.72 0.72 0.72 1"/></material></visual><collision><geometry><box size="0.01 0.30 0.30"/></geometry></collision></link>
  <link name="wall_x1"><visual><geometry><box size="0.01 0.30 0.30"/></geometry><material name="gray_x1"><color rgba="0.72 0.72 0.72 1"/></material></visual><collision><geometry><box size="0.01 0.30 0.30"/></geometry></collision></link>
  <link name="wall_y0"><visual><geometry><box size="0.25 0.01 0.30"/></geometry><material name="gray_y0"><color rgba="0.72 0.72 0.72 1"/></material></visual><collision><geometry><box size="0.25 0.01 0.30"/></geometry></collision></link>
  <link name="wall_y1"><visual><geometry><box size="0.25 0.01 0.30"/></geometry><material name="gray_y1"><color rgba="0.72 0.72 0.72 1"/></material></visual><collision><geometry><box size="0.25 0.01 0.30"/></geometry></collision></link>
  <link name="bottom"><visual><geometry><box size="0.25 0.30 0.01"/></geometry><material name="gray_bottom"><color rgba="0.72 0.72 0.72 1"/></material></visual><collision><geometry><box size="0.25 0.30 0.01"/></geometry></collision></link>
  <joint name="wall_x0_joint" type="fixed"><parent link="box_root"/><child link="wall_x0"/><origin xyz="0.0059 0 0.091"/></joint>
  <joint name="wall_x1_joint" type="fixed"><parent link="box_root"/><child link="wall_x1"/><origin xyz="0.245 0 0.0936"/></joint>
  <joint name="wall_y0_joint" type="fixed"><parent link="box_root"/><child link="wall_y0"/><origin xyz="0.1255 -0.1434 0.0914"/></joint>
  <joint name="wall_y1_joint" type="fixed"><parent link="box_root"/><child link="wall_y1"/><origin xyz="0.1207 0.1462 0.094"/></joint>
  <joint name="bottom_joint" type="fixed"><parent link="box_root"/><child link="bottom"/><origin xyz="0.1254 0 0.1665"/></joint>
</robot>
